.skill-container{
    display: flex;
    justify-content: space-between;
}
.skill-container2{
    display: flex;
}
.skill-box{
  /* background-color: #dfe6e9; */
  width: -10px;
  /* border: 2px solid #13c4a5; */
  /* padding: 2px 2px; */
  /* margin: 0.5px; */
  text-align: center;
  /* height: 20px; */
  /* border-radius: 5px; */
  color: #13c4a5;
  font-size: 20px;
}
.skill-box a{
    color: #13c4a5;
}
.skill-box a:hover{
    color: #dfe6e9;
}

.skill-box:hover{
    color: #dfe6e9;
    /* background-color: #13c4a5; */
}

/* table tr .bars td a+a{
    padding-left: 2em;
}
table tr .bars td{
    padding-left: 30px;
    align-items: center;
    border-spacing: 30px;
} */
.bars td a:hover{
    color: #dfe6e9;
}

i.popup {
    height: 0;
    color: #13c4a5;
    position: relative;
    cursor: pointer;
    
  }
  i.popup:after {
    content: attr(data-popuptext);
    /* background: rgba(0, 0, 0, 0.85); */
    border-radius: 0.5px;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    transition: 500ms ease;
    white-space: nowrap;
    max-height: 0;
    font-family: 'Ubuntu', sans-serif;
    
  }
  i.popup:hover{
    color: #dfe6e9;
    background-color: #13c4a5;
    
}
  i.popup:hover:after {
    
    opacity: 1;
    top: 1.2em;
    max-height: 200px;
    padding: 0.4em;
    font-family: 'Ubuntu', sans-serif;
  }
  
  /* timezone */
  .country .date {
    font-size: 18px;
    /* font-style: italic; */
    text-align: center;
    color: #dfe6e9;
  }
  .country .time {
    font-size: 20px;
    /* text-align: center; */
    color: #dfe6e9;
    display: flex;
    float: left;
  }
  .time-detail{
    display: flex;
    font-size: 20px;

    float: right;
    color: #dfe6e9;
  }
  /* footer */
