.skill-container{
    display: flex;
}
.skill-box{
  /* background-color: #dfe6e9; */
  width: 50px;
  border: 2px solid #13c4a5;
  padding: 2px;
  margin: 8px;
  text-align: center;
  /* height: 20px; */
  border-radius: 5px;
  color: #dfe6e9;
  
}
.skill-box a{
    color: #dfe6e9;
}

.skill-box:hover{
    color: #dfe6e9;
    background-color: #13c4a5;
}

table tr .bars td a+a{
    padding-left: 2em;
}
table tr .bars td{
    padding-left: 30px;
    align-items: center;
    border-spacing: 30px;
}
.bars td a:hover{
    background-color: #dfe6e9;
}